#user_cdr-view {
    margin: auto;
    width: 90%;
}

#user_cdr-view table.display td {
    padding: 6px 3px;
}

#user_cdr-view .table-wrapper {
    margin-top: 30px;
}

#user_cdr-view .date {
    width: 65%;
    float: left;
    margin-bottom: 18px;
}

#user_cdr-view .date input{
    font-size: 11px;
    padding: 4px 2px;
    border: solid 1px #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#user_cdr-view .date input:focus {
    background: #FFF;
    border: solid 1px #09f;
    color: #000;
}

#user_cdr-view .date a {
    vertical-align: middle;
}

#user_cdr-view .date input[type="text"] {
    height: 12px;
    width: 100px;
}

#user_cdr-view .date label.call_duration {
    float: right;
    text-align: right;
    width: 320px;
    color: #05addc;
}

#user_cdr-view .dataTables_filter {
    width: 30%;
}

#user_cdr-view #cdr-grid a {
    color: #424242;
    text-decoration: underline;
}

#user_cdr-view #cdr-grid a:hover {
    color: #ffffff;
}
