#ring_group_popup #two_columns .wrapper {
    width: 700px;
}

#ring_group_popup #two_columns .sortable_li a.drag_btn {
    margin-right: 0px;
}

#ring_group_popup #two_columns .sortable_li .icon {
    float: left;
    margin-top: 3px;
}

#ring_group_popup #two_columns .sortable_li .icon.head1 {
    background-position: -477px -197px;
}

#ring_group_popup #two_columns .sortable_li .icon.device {
    background-position: -508px -166px;
}

#ring_group_popup #two_columns .sortable_li .icon.trash {
    background-position: -32px -68px;
    margin-left: 10px;
}

#ring_group_popup #two_columns .column.left {
    border-radius: 0px 0px 6px 6px;
    padding: 0px 0px 5px;
}

#ring_group_popup #two_columns .column.left .search_box {
    background: #AFAFAF;
    height: 27px;
}

#ring_group_popup #two_columns .column.left .search_box .searchsubmit1 {
    margin-left: 18px;
}

#ring_group_popup #two_columns .column.right {
    width: 420px;
}

#ring_group_popup #two_columns .column.right .item_name {
    width: 205px;
}

#ring_group_popup #two_columns .actions {
    font-size: 10px;
    width: 39px;
    float: left;
    line-height: 28px;
    height: 28px;
    border-left: 1px solid #444444;
}

#ring_group_popup #two_columns .options {
    font-size: 10px;
    width: 110px;
    line-height: 28px;
    height: 28px;
    float: left;
}

#ring_group_popup #two_columns .options .option {
    font-size: 12px;
    width: 36px;
    margin: 2px 5px 0;
    border: 1px solid #ccc;
}

#ring_group_popup #two_columns .column.right ul.connect {
    width: 420px;
}

#ring_group_popup #two_columns .column.right ul.connect.no_element {
    background: url('../images/empty_ring_group.png') no-repeat center;
}

#ring_group_popup #two_columns .column.right .title_column .title{
    float: left;
    width: 243px;
    height: 28px;
    line-height: 28px;
}

#ring_group_popup .form_content .popup_field select {
    width: auto;
}

#ring_group_popup .form_content .popup_field {
    text-align: left;
}

#ring_group_popup #two_columns .wrapper .settings_tabs {
    margin: 0px;
}

#ring_group_popup #two_columns .wrapper .settings_tabs > li {
    background-color: none;
    border: 0;
    height: 22px;
    line-height: 22px;
}

#ring_group_popup #two_columns .wrapper .settings_tabs > li:first-child {
    border-radius: 10px 10px 0px 0px;
}

#ring_group_popup #two_columns .wrapper .settings_tabs > li {
    border-radius: 0px 10px 0px 0px;
}

#ring_group_popup #two_columns .wrapper .settings_tabs > li > a{
    width: 110px;
    height: 22px;
}
