#two_columns .wrapper {
    clear: left;
    width: 420px;
}
#two_columns .wrapper_form {
    margin-top: 20px;
    margin-left: 40px;
}

#two_columns .wrapper .column {
    width: 200px;
}

#two_columns .wrapper .column.right {
    float: right;
    margin-left: 10px;
}

#two_columns .wrapper .column.left {
    float: left;
    margin-right: 10px;
}

#two_columns .wrapper .title_column {
    background-color: #AFAFAF;
    height: 18px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

#two_columns .wrapper .left ul.connect {
    background-color: #AFAFAF;
    height: 250px;
    width: 200px;
    overflow: auto;
}

#two_columns .wrapper .connect {
    min-height: 250px;
}

#two_columns .wrapper .right ul.connect {
    background-color: #AFAFAF;
    height: 250px;
    width: 200px;
    overflow: auto;
}

#two_columns .wrapper {
    background-color: #808080;
}

#two_columns .wrapper li {
    list-style-type: none;
    background-color: #808080;
    color: white;
    border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #5F5F5F;
    display: block;
    height: 22px;
    line-height: 22px;
    list-style-type: none;
    overflow: hidden;
    position: relative;
}

#two_columns .item_name {
    float:left;
    overflow: hidden;
    height: 22px;
    line-height: 22px;
    width: 170px;
    font-size: 11px;
    white-space: nowrap;
}
#two_columns .item_name.right {
    width: 90px;
}

#two_columns .wrapper li:hover {
    background-color: #0097BB;
}
#two_columns .wrapper li a.drag_btn{
    background-image: url("../images/drag_btn.png");
    float: left;
    height: 22px;
    width: 9px;
    margin-right: 5px;
}

/* Ring group specific css */
#two_columns .options {
    float: right;
    margin-right: 2px;
}

#two_columns .options .option {
    width: 30px;
    font-size: 10px;
}
