<div>
    <div class="dialog_popup">
        <form name="form" method="post" action="#">
            <div class="form_content">
                <div class="popup_field">
                    <label for="availability_key_selector">${_t('agent_availability_status')}</label>
                    <div class="select_wrapper">
                        <select id="availability_key_selector">
                            {{each(key, val) items}}
                                {{if selected == key}}
                                    <option value="${key}" SELECTED>${val}</option>
                                {{else}}
                                    {{if val != '#'}}
                                    <option value="${key}">${val}</option>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="buttons-center">
            <button id="add" class="btn primary">OK</button>
        </div>
    </div>
</div>
