<div>
	<div class="row">
		<div class="whapp-header">
			{{if data.id}}
                <h1>${_t('edit_queue')}</h1>
            {{else}}
                <h1>${_t('create_queue')}</h1>
            {{/if}}
			<div class="buttons-right pasted view-buttons">
				<button class="btn black basic activate">${_t('basic')}</button>
				<button class="btn black advanced">${_t('advanced')}</button>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="tabs" data-tabs="tabs">
		 	<li class="active"><a href="#basic">${_t('basic')}</a></li>
		 	<li><a href="#options"><span class="icon wrench_screw"></span>${_t('queue_configuration')}</a></li>
		 	<li><a href="#notifications"><span class="icon lightbulb_on"></span>${_t('notifications')}</a></li>
		</ul>
		 <form id="queue-form" action="" method="post" >
			<div class="pill-content">
				<div class="active basic_view" id="basic">
					<div class="clearfix">
						<label for="name">${_t('name')}</label>
						<div class="input">
							<input class="span4" id="name" name="name" type="text" placeholder="${_t('name')}" value="${data.name}" rel="popover" data-content="${_t('name_data_content')}"/>
						</div>
					</div>
				</div>

				<div id="options">
                    <div class="clearfix">
                        <div class="input">
                            <ul class="inputs-list">
                                <li>
                                    <label>
                                        <span rel="popover" data-content="${_t('call_recording_data_content')}">
                                            {{if data.record_caller === true}}
                                                <input type="checkbox" id="record_caller" name="record_caller" checked="checked" />
                                            {{else}}
                                                <input type="checkbox" id="record_caller" name="record_caller" />
                                            {{/if}}
                                            <span>${_t('call_recording')}</span>
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="moh">${_t('music_on_hold')}</label>
                        <div class="input">
                            <span rel="popover" data-content="${_t('music_on_hold_data_content')}">
                                <select name="moh" id="moh" class="medium">
                                    {{each field_data.media}}
                                        {{if data.moh == id}}
                                        <option id="${id}" value="${id}" selected="selected">${name}</option>
                                        {{else}}
                                        <option id="${id}" value="${id}">${name}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                                <div class="edit_create">
                                    <a id="edit_link_media" class="inline_action_media" data-action="edit" href="#">${_t('edit')}</a>
                                    <a class="inline_action_media" data-action="create" href="#">${_t('create')}</a>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="clearfix">
                        <label>${_t('strategy')}</label>
                        <div class="input">
                            <span rel="popover" data-content="${_t('strategy_data_content')}">
                                <select name="strategy">
                                    {{if data.strategy === 'most_idle'}}
                                        <option value="round_robin">${_t('round_robin')}</option>
                                        <option value="most_idle" selected="selected">${_t('most_idle')}</option>
                                    {{else}}
                                        <option value="round_robin" selected="selected">${_t('round_robin')}</option>
                                        <option value="most_idle">${_t('most_idle')}</option>
                                    {{/if}}
                                </select>
                            </span>
                        </div>
                    </div>

                    <div class="clearfix">
						<label for="call_recording_url">${_t('call_recording_url')}</label>
						<div class="input">
							<input class="span4" id="call_recording_url" name="call_recording_url" type="text" placeholder="http://xxx.yyy.com/call_recordings" value="${data.call_recording_url}" rel="popover" data-content="${_t('call_recording_url_data_content')}"/>
						</div>
					</div>

                    <div class="clearfix">
						<label for="agent_wrapup_time">${_t('call_wrapup_time')}</label>
						<div class="input">
							<input class="span2" id="agent_wrapup_time" name="agent_wrapup_time" type="text" placeholder="30" value="${data.agent_wrapup_time}" rel="popover" data-content="${_t('call_wrapup_time_data_content')}"/>
						</div>
					</div>

                    <div class="clearfix">
						<label for="max_queue_size">${_t('max_number_of_calls')}:</label>
						<div class="input">
							<input class="span2" id="max_queue_size" name="max_queue_size" type="text" placeholder="10000" value="${data.max_queue_size}" rel="popover" data-content="${_t('max_number_of_calls_data_content')}"/>
						</div>
					</div>

                    <div class="clearfix">
						<label for="connection_timeout">${_t('max_hold_time')}</label>
						<div class="input">
							<input class="span2" id="connection_timeout" name="connection_timeout" type="text" placeholder="30" value="${data.connection_timeout}" rel="popover" data-content="${_t('max_hold_time_data_content')}"/>
						</div>
					</div>

                    <div class="clearfix">
                        <div class="input">
                            <ul class="inputs-list">
                                <li>
                                    <label>
                                        <span rel="popover" data-content="">
                                            {{if data.enter_when_empty === true}}
                                                <input type="checkbox" id="enter_when_empty" name="enter_when_empty" checked="checked" />
                                            {{else}}
                                                <input type="checkbox" id="enter_when_empty" name="enter_when_empty" />
                                            {{/if}}
                                            <span>${_t('allows_a_caller_to_enter_this_queue')}</span>
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="notifications">
                    <div class="clearfix">
                        <label for="cdr_url">${_t('notification_on_hangup')}</label>
                        <div class="input">
                            <input class="span4" id="hangup_url" name="notifications.hangup" type="text" placeholder="http://xxx.yyy/script_hangup.php" value="${data.notifications.hangup}" rel="popover" data-content="${_t('notification_on_hangup_data_content')}"/>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label for="cdr_url">${_t('notification_after_pickup')}</label>
                        <div class="input">
                            <input class="span4" id="pickup_url" name="notifications.pickup" type="text" placeholder="http://xxx.yyy/script_pickup.php" value="${data.notifications.pickup}" rel="popover" data-content="${_t('notification_after_pickup_data_content')}"/>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>${_t('method')}</label>
                        <div class="input">
                            <span rel="popover" data-content="${_t('method_data_content')}">
                                <select name="notifications.method">
                                    {{if data.notifications.method === 'POST'}}
                                        <option value="GET">GET</option>
                                        <option value="POST" selected="selected">POST</option>
                                    {{else}}
                                        <option value="GET" selected="selected">GET</option>
                                        <option value="POST">POST</option>
                                    {{/if}}
                                </select>
                            </span>
                        </div>
                    </div>
				</div>
			</div>
		</form>
		<div class="buttons-right">
	        {{if data.id}}
	            <button class="btn danger queue-delete">${_t('delete')}</button>
                <button class="btn success queue-save">${_t('save')}</button>
	        {{else}}
                <button class="btn success queue-save">${_t('add_agents')}</button>
            {{/if}}
		</div>
	</div>
</div>
