<div>
	<div class="row">
		<div class="whapp-header">
			{{if data.id}}
                <h1>Edit Queue</h1>
            {{else}}
                <h1>Create Queue</h1>
            {{/if}}
			<div class="buttons-right pasted view-buttons">
				<button class="btn black basic activate">Basic</button>
				<button class="btn black advanced">Advanced</button>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="tabs" data-tabs="tabs">
		 	<li class="active"><a href="#basic">Basic</a></li>
		 	<li><a href="#options"><span class="icon wrench_screw"></span>Queue Configuration</a></li>
		 	<li><a href="#notifications"><span class="icon lightbulb_on"></span>Notifications</a></li>
		</ul>
		 <form id="queue-form" action="" method="post" >
			<div class="pill-content">
				<div class="active basic_view" id="basic">
					<div class="clearfix">
						<label for="name">Name</label>
						<div class="input">
							<input class="span4" id="name" name="name" type="text" placeholder="Name" value="${data.name}" rel="popover" data-content="Friendly name for this Queue"/>
						</div>
					</div>
				</div>

				<div id="options">
                    <div class="clearfix">
                        <div class="input">
                            <ul class="inputs-list">
                                <li>
                                    <label>
                                        <span rel="popover" data-content="You can also change individual agent's recording settings under the Agent's section">
                                            {{if data.record_caller === true}}
                                                <input type="checkbox" id="record_caller" name="record_caller" checked="checked" />
                                            {{else}}
                                                <input type="checkbox" id="record_caller" name="record_caller" />
                                            {{/if}}
                                            <span>Call Recording</span>
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="moh">Music on Hold</label>
                        <div class="input">
                            <span rel="popover" data-content="Select the media file that you want to be played by default when it's not set on a user or a device.">
                                <select name="moh" id="moh" class="medium">
                                    {{each field_data.media}}
                                        {{if data.moh == id}}
                                        <option id="${id}" value="${id}" selected="selected">${name}</option>
                                        {{else}}
                                        <option id="${id}" value="${id}">${name}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                                <div class="edit_create">
                                    <a id="edit_link_media" class="inline_action_media" data-action="edit" href="#">Edit</a>
                                    <a class="inline_action_media" data-action="create" href="#">Create</a>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="clearfix">
                        <label>Strategy</label>
                        <div class="input">
                            <span rel="popover" data-content="The queue strategy for connecting agents to caller">
                                <select name="strategy">
                                    {{if data.strategy === 'most_idle'}}
                                        <option value="round_robin">Round Robin</option>
                                        <option value="most_idle" selected="selected">Most Idle</option>
                                    {{else}}
                                        <option value="round_robin" selected="selected">Round Robin</option>
                                        <option value="most_idle">Most Idle</option>
                                    {{/if}}
                                </select>
                            </span>
                        </div>
                    </div>

                    <div class="clearfix">
						<label for="call_recording_url">Call Recording URL</label>
						<div class="input">
							<input class="span4" id="call_recording_url" name="call_recording_url" type="text" placeholder="http://xxx.yyy.com/call_recordings" value="${data.call_recording_url}" rel="popover" data-content="URL pointing to a server that will host the recording of the calls processed by this queue."/>
						</div>
					</div>

                    <div class="clearfix">
						<label for="agent_wrapup_time">Call Wrap-up Time (s)</label>
						<div class="input">
							<input class="span2" id="agent_wrapup_time" name="agent_wrapup_time" type="text" placeholder="30" value="${data.agent_wrapup_time}" rel="popover" data-content="Automatic break time between calls for the agents in this queue."/>
						</div>
					</div>

                    <div class="clearfix">
						<label for="max_queue_size">Max Number of Calls:</label>
						<div class="input">
							<input class="span2" id="max_queue_size" name="max_queue_size" type="text" placeholder="10000" value="${data.max_queue_size}" rel="popover" data-content="How many callers are allowed to wait on hold in the queue (0 for no limit)."/>
						</div>
					</div>

                    <div class="clearfix">
						<label for="connection_timeout">Max Hold Time (s)</label>
						<div class="input">
							<input class="span2" id="connection_timeout" name="connection_timeout" type="text" placeholder="30" value="${data.connection_timeout}" rel="popover" data-content="In seconds, how long to try to connect the caller before progressing past the queue callflow action (0 for no limit)."/>
						</div>
					</div>

                    <div class="clearfix">
                        <div class="input">
                            <ul class="inputs-list">
                                <li>
                                    <label>
                                        <span rel="popover" data-content="">
                                            {{if data.enter_when_empty === true}}
                                                <input type="checkbox" id="enter_when_empty" name="enter_when_empty" checked="checked" />
                                            {{else}}
                                                <input type="checkbox" id="enter_when_empty" name="enter_when_empty" />
                                            {{/if}}
                                            <span>Allows a caller to enter this queue when no agents are available.</span>
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="notifications">
                    <div class="clearfix">
                        <label for="cdr_url">Notification on Hangup</label>
                        <div class="input">
                            <input class="span4" id="hangup_url" name="notifications.hangup" type="text" placeholder="http://xxx.yyy/script_hangup.php" value="${data.notifications.hangup}" rel="popover" data-content="URL for a callback when the call ends to tell the customer on their own servers that a call has ended."/>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label for="cdr_url">Notification after Pickup</label>
                        <div class="input">
                            <input class="span4" id="pickup_url" name="notifications.pickup" type="text" placeholder="http://xxx.yyy/script_pickup.php" value="${data.notifications.pickup}" rel="popover" data-content="URL for a callback when the call is picked up to tell the customer on their own servers that a call has been picked up."/>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>Method</label>
                        <div class="input">
                            <span rel="popover" data-content="What HTTP method to use">
                                <select name="notifications.method">
                                    {{if data.notifications.method === 'POST'}}
                                        <option value="GET">GET</option>
                                        <option value="POST" selected="selected">POST</option>
                                    {{else}}
                                        <option value="GET" selected="selected">GET</option>
                                        <option value="POST">POST</option>
                                    {{/if}}
                                </select>
                            </span>
                        </div>
                    </div>
				</div>
			</div>
		</form>
		<div class="buttons-right">
	        {{if data.id}}
	            <button class="btn danger queue-delete">Delete</button>
                <button class="btn success queue-save">Save</button>
	        {{else}}
                <button class="btn success queue-save">Add Agents</button>
            {{/if}}
		</div>
	</div>
</div>
