<div>
	<div class="row">
		<div class="whapp-header">
			{{if data.id}}
                <h1>Edit Queue</h1>
            {{else}}
                <h1>Create Queue</h1>
            {{/if}}
			<div class="buttons-right pasted view-buttons">
				<button class="btn black basic activate">Basic</button>
				<button class="btn black advanced">Advanced</button>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="tabs" data-tabs="tabs">
		 	<li class="active"><a href="#basic">Basic</a></li>
		 	<li><a href="#options"><span class="icon wrench_screw"></span>Queue Configuration</a></li>
		 	<li><a href="#notifications"><span class="icon lightbulb_on"></span>Notifications</a></li>
		</ul>
		 <form id="queue-form" action="" method="post" >
			<div class="pill-content">
				<div class="active basic_view" id="basic">
					<div class="clearfix">
						<label for="name">Name</label>
						<div class="input">
							<input class="span4" id="name" name="name" type="text" placeholder="Name" value="${data.name}" rel="popover" data-content="Friendly name for this Queue"/>
						</div>
					</div>
				</div>

				<div id="options">
					<div class="clearfix">
						<label for="connection_timeout">Queue timeout (s)</label>
						<div class="input">
							<input class="span4" id="connection_timeout" name="connection_timeout" type="text" placeholder="Queue timeout (s)" value="${data.connection_timeout}" rel="popover" data-content="How long caller stays in queue, in seconds"/>
						</div>
					</div>

					<div class="clearfix">
						<label for="member_timeout">Member timeout (s)</label>
						<div class="input">
							<input class="span4" id="member_timeout" name="member_timeout" type="text" placeholder="Member timeout (s)" value="${data.member_timeout}" rel="popover" data-content="How long to ring an agent's phone before moving to the next agent"/>
						</div>
					</div>

                    <div class="clearfix">
						<label for="call_wrapup_time">Call Wrap-up Time (s)</label>
						<div class="input">
							<input class="span4" id="call_wrapup_time" name="call_wrapup_time" type="text" placeholder="30" value="${data.call_wrapup_time}" rel="popover" data-content="Automatic break time between calls for the agents in this queue."/>
						</div>
					</div>

                    <div class="clearfix">
                        <div class="input">
                            <ul class="inputs-list">
                                <li>
                                    <label>
                                        <span rel="popover" data-content="You can also change individual agent's recording settings under the Agent's section">
                                            {{if data.call_recording === true}}
                                                <input type="checkbox" id="call_recording" name="call_recording" checked="checked" />
                                            {{else}}
                                                <input type="checkbox" id="call_recording" name="call_recording" />
                                            {{/if}}
                                            <span>Call Recording</span>
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix">
						<label for="max_calls">Max Number of Calls:</label>
						<div class="input">
							<input class="span4" id="max_calls" name="max_calls" type="text" placeholder="10000" value="${data.max_calls}" rel="popover" data-content="Allow a maximum number of calls to this queue."/>
						</div>
					</div>

                    <div class="clearfix">
						<label for="max_hold_time">Max Hold Time:</label>
						<div class="input">
							<input class="span4" id="max_hold_time" name="max_hold_time" type="text" placeholder="10000" value="${data.max_hold_time}" rel="popover" data-content=""/>
						</div>
					</div>

                    <div class="clearfix">
                        <div class="input">
                            <ul class="inputs-list">
                                <li>
                                    <label>
                                        <span rel="popover" data-content="">
                                            {{if data.no_calls_agents_busy === true}}
                                                <input type="checkbox" id="no_calls_agents_busy" name="no_calls_agents_busy" checked="checked" />
                                            {{else}}
                                                <input type="checkbox" id="no_calls_agents_busy" name="no_calls_agents_busy" />
                                            {{/if}}
                                            <span>Do not add calls to this queue if all agents are busy/unavailable.</span>
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="input">
                            <ul class="inputs-list">
                                <li>
                                    <label>
                                        <span rel="popover" data-content="">
                                            {{if data.no_calls_agents_empty === true}}
                                                <input type="checkbox" id="no_calls_agents_empty" name="no_calls_agents_empty" checked="checked" />
                                            {{else}}
                                                <input type="checkbox" id="no_calls_agents_empty" name="no_calls_agents_empty" />
                                            {{/if}}
                                            <span>Do not add calls to this queue if agent's list is empty.</span>
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="notifications">
                    <div class="clearfix">
                        <label for="notification_on_hangup">Notification on Hangup</label>
                        <div class="input">
                            <input class="span4" id="notification_on_hangup" name="notification_on_hangup" type="text" placeholder="http://xxx.yyy/script_hangup.php" value="${data.notification_on_hangup}" rel="popover" data-content="URL for a callback when the call ends to tell the customer on their own servers that a call has ended."/>
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="notification_on_answer">Notification on Answer</label>
                        <div class="input">
                            <input class="span4" id="notification_on_answer" name="notification_on_answer" type="text" placeholder="http://xxx.yyy/script_answer.php" value="${data.notification_on_answer}" rel="popover" data-content="URL for a callback when the call is answered to tell the customer on their own servers that a call has been answered."/>
                        </div>
                    </div>
				</div>
			</div>
		</form>
		<div class="buttons-right">
	        {{if data.id}}
	            <button class="btn danger queue-delete">Delete</button>
                <button class="btn success queue-save">Save</button>
	        {{else}}
                <button class="btn success queue-save">Add Agents</button>
            {{/if}}
		</div>
	</div>
</div>
