.portal-view {
    display: block;
    width: 1040px;
    margin: 30px auto;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 10px #333;
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(64,64,64,1) 0%, rgba(72,72,72,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(64,64,64,1)), color-stop(100%,rgba(72,72,72,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(64,64,64,1) 0%,rgba(72,72,72,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(64,64,64,1) 0%,rgba(72,72,72,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(64,64,64,1) 0%,rgba(72,72,72,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(64,64,64,1) 0%,rgba(72,72,72,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#484848',GradientType=0 ); /* IE6-9 */
}

.portal-view .left_part {
    width: 638px;
    float: left;
    border-right: 1px solid #555;
}

.portal-view .right_part {
    width: 388px;
    float: left;
    border-left: 1px solid #333;
}

.portal-view .block {
    height: 320px;
    padding: 20px;
}

.portal-view .left_part .block:first-child, .portal-view .right_part .block:first-child {
    border-bottom: 1px solid #333;
}

.portal-view .left_part .block:last-child, .portal-view .right_part .block:last-child {
    border-top: 1px solid #555;
}

.portal-view #settings-view form label {
    width: 160px;
}

.portal-view #settings-view form .clearfix {
    margin-bottom: 5px;
}

.portal-view #settings-view form .input {
    margin-left: 180px;
}

.portal-view #settings-view form .input input {
    max-width: 150px;
    height: 14px;
    margin-top: 4px;
}

.portal-view #settings-view form .input input[type=checkbox] {
    margin-top: 9px;
}

.portal-view #settings-view form label .icon.phone {
    height: 26px;
    margin: -6px 5px 0 0;
}

.portal-view #voicemail-grid, .portal-view #user_cdr-grid {
    width: 100% !important;
}

.portal-view .dataTables_filter input[type="text"] {
    width: 120px;
}

.portal-view .dataTables_filter{
    width: 190px;
    margin-top: 5px;
}

.portal-view #voicemail-grid_wrapper .actions_voicemail {
    display: inline-block;
}

.portal-view #voicemail-grid_wrapper .actions_voicemail button {
    margin-right: 2px;
}

.portal-view #user_cdr-grid_wrapper .date {
    display: inline-block;
    width: 400px;
}

.portal-view #user_cdr-grid_wrapper .date input {
    width: 70px;
}

.portal-view .dataTables_scrollHeadInner .display {
    border-collapse: collapse;
}

.portal-view tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

.portal-view tr:first-child td:last-child {
    border-top-right-radius: 5px;
}

.portal-view tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.portal-view tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
