#app_store .app {
    border: 1px solid #262626;
    height: 140px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #363636;
    background-color: #404040;
    margin-bottom: 30px;
}

#app_store .app .arrow {
    float: left;
    width: 18px;
    text-align: center;
    height: 100%;
    color: transparent;
}

#app_store .app .arrow:first-child {
    border-right: 1px solid #363636;
}

#app_store .app .arrow:last-child {
    border-left: 1px solid #363636;
}
    
#app_store .app_icon {
    width: 130px;
    text-align: center;
    cursor: pointer;
    margin-left: 0;
    padding: 30px 10px 0 10px;
    border-left: 1px solid #363636;
    border-right: 1px solid #363636;

}

#app_store .app_icon.activate {
    background-color: #505050;
}

#app_store .app_desc {
    color: #E6E6E6;
}