#app_store .app {
    border: 1px solid #525252;
    height: 140px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #363636;
    margin-bottom: 30px;
    background: #494949;
    background: -moz-linear-gradient(top,  #494949 0%, #515151 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494949), color-stop(100%,#515151));
    background: -webkit-linear-gradient(top,  #494949 0%,#515151 100%);
    background: -o-linear-gradient(top,  #494949 0%,#515151 100%);
    background: -ms-linear-gradient(top,  #494949 0%,#515151 100%);
    background: linear-gradient(top,  #494949 0%,#515151 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#515151',GradientType=0 );
}


#app_store .app .app-icon:first-child {
    border-left: none;
}

#app_store .app .app-icon:last-child {
    border-right: none;
}
    
#app_store .app .app-icon {
    width: 138px;
    text-align: center;
    cursor: pointer;
    margin-left: 0;
    padding: 30px 10px 0 10px;
    border-left: 1px solid #525252;
    border-right: 1px solid #353535;

}

#app_store .app .app-icon:hover {
    box-shadow: inset 0px 0px 70px 15px #202020;
}

#app_store .on-off {
    width: 138px;
    text-align: center;
}
