
/* Admin Mode */
#admin-mode .container {
	margin-top: 10px;
	height: auto;
	overflow: hidden;
}
	
#admin-mode .container .right {
	float: right;
	padding: 10px;
	text-align: right;
	width: 120px;
}

#admin-mode .container .left {
	width: auto;
	padding: 10px;
	overflow: hidden;
}

#admin-mode .admin-mode-on {
	background: #448E45;
}

#admin-mode .admin-mode-off {
	background: #C96936;
}

#prompt-form #basic #tab_prompts  {
	border: 2px solid #666666;
	border-radius: 15px 15px 0px 0px;
	color: #666666;
	margin: 20px auto auto;
	width: 550px;
	max-height: 342px;
}

#prompt-form #basic #tab_prompts .rows {
	max-height: 310px;
	overflow: auto;
}

#prompt-form #basic #tab_prompts .column.first:not(:last-child) {
	border-right: 1px solid #A6A6A6;
}

#prompt-form #basic #tab_prompts .column {
	float: left;
	text-align: center;
	height: 32px;
	line-height: 32px;
}

#prompt-form #basic #tab_prompts .column.first {
	width: 120px;
	overflow: hidden;
	text-align:center;
}

#prompt-form #basic #tab_prompts .column.third {
	width: 109px;
}

#prompt-form #basic #tab_prompts .column.second {
	width: 319px;
	border-right: 1px solid #A6A6A6;
	overflow: hidden;
}

#prompt-form #basic #tab_prompts .column.merged {
	width: 480px;
}

#prompt-form #basic #tab_prompts .row {
	height: 32px;
	margin-left: 0px;
}

#prompt-form #basic #tab_prompts .row.title {
	background-color: #dddddd !important;
	border-bottom: 2px solid #666666 !important;
	border-radius: 13px 13px 0px 0px;
	font-weight: bold;
}

#prompt-form #basic #tab_prompts .row:not(:last-child) {
	border-bottom: 1px solid #A6A6A6;
}

#prompt-form #basic #tab_prompts .row:nth-child(odd) {
	background-color: #eeeeee;
}

#prompt-form #basic #tab_prompts .row:nth-child(even) {
	background-color: #dddddd;
}

#prompt-form #basic .add-language-button {
	text-align: center;
	padding-top: 20px;
}

#dialogLanguage {
	padding: 10px;
}

#dialogLanguage label {
	color: #333;
}

#dialogLanguage .buttons {
	text-align: center;
	padding-top: 15px;
}
