<div>
	<div class="row">
		<div class="whapp-header">
			<h1>${_t('account_details')}</h1>
			<div class="buttons-right pasted view-buttons">
				<button class="btn black basic activate">${_t('basic')}</button>
				<button class="btn black advanced">${_t('advanced')}</button>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="tabs" data-tabs="tabs">
		 	<li class="active"><a href="#caller_id"><span class="icon sip"></span>${_t('caller_id')}</a></li>
		 	<li><a href="#options"><span class="icon wrench_screw"></span>${_t('options')}</a></li>
		</ul>
		<form action="#" id="account-form">
			<div class="pill-content">
				<div class="active" id="caller_id">
					<h3>${_t('inhouse_calls')}</h3>
					<div class="clearfix">
						<label for="caller_id_name_internal">${_t('caller_id_name')}</label>
						<div class="input">
							<input class="span4" id="caller_id_name_internal" name="caller_id.internal.name" type="text" placeholder="${_t('name_placeholder')}" value="${data.caller_id.internal.name}"  rel="popover" data-content="${_t('caller_id_name_data_content')}" />
						</div>
					</div>
					<div class="clearfix">
						<label for="caller_id_number_internal">${_t('caller_id_number')}</label>
						<div class="input">
							<input class="span4" id="caller_id_number_internal" name="caller_id.internal.number" type="text" placeholder="+15555555555" value="${data.caller_id.internal.number}" rel="popover" data-content="${_t('caller_id_number_data_content')}"/>
						</div>
					</div>
					<hr />

					<h3>${_t('outbound_calls')}</h3>
					<div class="clearfix">
						<label for="caller_id_name_external">${_t('caller_id_name')}</label>
						<div class="input">
							<input class="span4" id="caller_id_name_external" name="caller_id.external.name" type="text" placeholder="${_t('name_placeholder')}" value="${data.caller_id.external.name}" rel="popover" data-content="${_t('caller_id_name_data_content2')}" />
						</div>
					</div>
					<div class="clearfix">
						<label for="caller_id_number_external">${_t('caller_id_number')}</label>
						<div class="input">
							<input class="span4" id="caller_id_number_external" name="caller_id.external.number" type="text" placeholder="+15555555555" value="${data.caller_id.external.number}" rel="popover" data-content="${_t('caller_id_number_data_content2')}"/>
						</div>
					</div>
					<hr />

					<h3>${_t('emergency')}</h3>
					<div class="clearfix">
						<label for="caller_id_name_emergency">${_t('caller_id_name')}</label>
						<div class="input">
							<input class="span4" id="caller_id_name_emergency" name="caller_id.emergency.name" type="text" placeholder="${_t('name_placeholder')}" value="${data.caller_id.emergency.name}" rel="popover" data-content="${_t('caller_id_name_data_content3')}" />
						</div>
					</div>
					<div class="clearfix">
						<label for="caller_id_number_emergency">${_t('caller_id_number')}</label>
						<div class="input">
							<input class="span4" id="caller_id_number_emergency" name="caller_id.emergency.number" type="text" placeholder="+15555555555" value="${data.caller_id.emergency.number}" rel="popover" data-content="${_t('caller_id_number_data_content3')}"/>
						</div>
					</div>
				</div>

				<div id="options">

					<h3>${_t('billing_contact')}</h3>
					<div class="clearfix">
						<label for="contact_billing_email">${_t('email')}</label>
						<div class="input">
							<input class="span4" id="contact_billing_email" name="contact.billing.email" type="text" placeholder="${_t('email_address_placeholder')}" value="${data.contact.billing.email}" rel="popover" data-content="${_t('email_data_content')}" />
						</div>
					</div>
					<div class="clearfix">
						<label for="contact_billing_number">${_t('number')}</label>
						<div class="input">
							<input class="span4" id="contact_billing_number" name="contact.billing.number" type="text" placeholder="+15555555555" value="${data.contact.billing.number}" rel="popover" data-content="${_t('number_data_content')}" />
						</div>
					</div>
					<hr />

					<h3>${_t('technical_contact')}</h3>
					<div class="clearfix">
                        <div class="input">
                        	<ul class="inputs-list">
              					<li>
		                        	<label>
		          						<span rel="popover" data-content="${_t('same_contact_information_data_content')}">
											<input id="contact_copy_checkbox" class="checkbox" name="extra.contact_copy_checkbox" type="checkbox"/>
			                                <span>${_t('same_contact_information')}</span>
		                            	</span>
		                            </label>
                        		</li>
                        	</ul>
                        </div>
                    </div>
					<div class="clearfix contact-technical">
						<label for="contact_technical_email">${_t('email')}</label>
						<div class="input">
							<input class="span4" id="contact_technical_email" name="contact.technical.email" type="text" placeholder="${_t('email_address_placeholder')}" value="${data.contact.technical.email}" rel="popover" data-content="${_t('email_data_content2')}" />
						</div>
					</div>
					<div class="clearfix contact-technical">
						<label for="contact_technical_number">${_t('number')}</label>
						<div class="input">
							<input class="span4" id="contact_technical_number" name="contact.technical.number" type="text" placeholder="+15555555555" value="${data.contact.technical.number}" rel="popover" data-content="${_t('number_data_content2')}" />
						</div>
					</div>
					<hr />

					<br />
					<div class="clearfix">
						<label for="music_on_hold">${_t('music_on_hold')}</label>
						<div class="input">
							<span rel="popover" data-content="${_t('music_on_hold_data_content')}">
								<select name="music_on_hold.media_id" id="music_on_hold_media_id" class="medium">
									{{each field_data.media}}
	                                    {{if data.music_on_hold.media_id == id}}
	                                    <option id="${id}" value="${id}" selected="selected">${name}</option>
	                                    {{else}}
	                                    <option id="${id}" value="${id}">${name}</option>
	                                    {{/if}}
	                            	{{/each}}
								</select>
								<div class="edit_create">
									<a id="edit_link_media" class="inline_action_media" data-action="edit" href="#">${_t('edit')}</a>
	                            	<a class="inline_action_media" data-action="create" href="#">${_t('create')}</a>
								</div>
							</span>
						</div>
					</div>
					<hr />

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
              					<li>
	              					<label>
	              						<span rel="popover" data-content="${_t('pass_realm_in_invite_data_content')}">
											{{if data.format_from_uri == true}}
			                                    <input type="checkbox" id="format_from_uri" name="format_from_uri" checked="checked" />
			                                {{else}}
			                                    <input type="checkbox" id="format_from_uri" name="format_from_uri"/>
			                                {{/if}}
			                                <span>${_t('pass_realm_in_invite')}</span>
		                            	</span>
	                                </label>
                                </li>
                            </ul>
						</div>
					</div>

                    <div class="list-blacklists">
                        <h4>${_t('blacklists')}</h4>
                        <div class="add-blacklist">
                            <div class="blacklist-wrapper placeholder">
                                <div class="create-text">
                                    <i class="icon-plus-sign"></i>
                                    ${_t('add_blacklist')}
                                </div>
                                
                                <div class="create-inputs">
                                    ${_t('select_blacklist')}
                                    <select name="extra.blacklist" id="blacklist_select" class="input-medium">
                                        {{each field_data.available_blacklists}}
                                            <option value="${id}">${name}</option>
                                        {{/each}}
                                    </select>
                                    <button type="button" id="add_blacklist" class="btn success">${_t('add_blacklist_button')}</button>
                                    <a href="javascript:void(0);" id="cancel_blacklist">${_t('cancel')}</a>
                                </div>
                            </div>
                        </div>

                        <div class="saved-blacklists">
                            {{each field_data.selected_blacklists}}
                                <div class="blacklist-wrapper" data-id="${id}">
                                    <span class="blacklist-name">${name}</span>
                                    
                                    <div class="actions-blacklist pull-right">
                                        <a class="delete-blacklist icon medium trash" href="javascript:void(0);"></a>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
				</div>
			</div>
		</form>
		<div class="buttons-right">
            <button class="btn success account-save">${_t('save')}</button>
		</div>
	</div>
</div>
