<div>
    <div style="position:absolute;z-index:1;width:100%;min-width:1024px;">
        <div class="header">

        <!-- start topmost logo + header w/ applications + my account -->
            <div class="logo">
                <a class="img" href="#">2600hz.com</a>
            </div>

            <div class="main_nav">
                <!-- appnav module will populate this area with loaded and accessible apps -->
            </div>
            
            <ul class="universal_nav">
                <li class="my_account_wrapper">
                    <span class="my_account_icon"/>
                    <span class="label">
                        <a href="#" id="my_account" class="my_account"></a>
                        <span class="other"/>
                    </span>
                </li>  
                <li class="my_help_wrapper">
                    <span class="my_help_icon"/>
                    <span class="label">
                        <a href="#" id="my_help" class="my_help" target="_blank">Help</a>
                    </span>
                </li>
                <li class="my_logout_wrapper">
                    <span class="my_logout_icon"/>
                    <span class="label">
                        <a href="#" id="my_logout" class="my_logout">Login / Register</a>
                    </span>
                </li>
            </ul>
        </div>
        <!-- end topmost logo + header w/ applications + my account -->
        
        <div class="clear"></div>

        <div class="content_container">
            <div class="ws-content" id="ws-content">

                <!-- main content area -->

            </div>
            <div class="clear"></div>
        </div>
        <!-- end content container -->
    </div>
    
    <div id="loading">
        <div class="graphic"><img src="whapps/core/layout/images/loading.gif"/></div>
        <div class="text">Please wait...</div>
        <div class="clear"/>
    </div>

</div>
 
