<div>
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container-fluid">
                <div id="ws-topbar" class="ws-topbar">
                    <a class="brand logo" href="#"/>
                    <ul class="nav whapps"/>
                    <ul class="nav secondary-nav links"/>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid page">
        <div id="ws-content" class="ws-content">
        </div>
    </div>
    <!--
            <ul class="universal_nav">
                <li class="my_account_wrapper">
                    <span class="my_account_icon"/>
                    <span class="label">
                        <a href="javascript:void(0);" id="my_account" class="my_account"></a>
                        <span class="other"/>
                    </span>
                </li>
                <li class="my_help_wrapper">
                    <span class="my_help_icon"/>
                    <span class="label">
                        <a href="#" id="my_help" class="my_help" target="_blank">Help</a>
                    </span>
                </li>
                <li class="my_logout_wrapper">
                    <span class="my_logout_icon"/>
                    <span class="label">
                        <a href="#" id="my_logout" class="my_logout">Login / Register</a>
                    </span>
                </li>
            </ul>
    -->

    <div class="footer_wrapper"><span class="powered_by"><a href="http://www.2600hz.com/" target="_blank">Powered by 2600hz</a></div>

    <div id="loading">
        <div class="graphic"><img src="whapps/core/layout/images/loading.gif"/></div>
        <div class="text">Please wait...</div>
        <div class="clear"/>
    </div>

</div>

