<div>
    <div style="text-align: center;">
        <div id="not_supported_browsers_div">
            <h1>Oops, Your Browser is not supported! :(</h1>
            We're using <a href="http://en.wikipedia.org/wiki/Cross-origin_resource_sharing" target="_blank">CORS</a> (Cross-Origin Resource Sharing) and this browser is not supporting it yet.
            <br/>
            <br/>
            Our website is optimized for
            <ul>
               <li><a href="http://www.mozilla.org/en-US/firefox/" target="_blank">Firefox 4 or next versions</a></li>
               <li><a href="https://www.google.com/chrome/" target="_blank">Chrome 10 or next versions</a></li>
            </ul>
            <br/>
            <br/>
            But you could also use:
            <ul>
               <li><a href="http://www.apple.com/safari/" target="_blank">Safari</a></li>
               <li><a href="http://www.opera.com/download/" target="_blank">Opera</a></li>
            </ul>
            <br/>
        </div>
    </div>
</div>
