.help_recover {
    color: #eeeeee;
    font-style: normal;
    margin: 10px;
    padding: 10px;
}

.wrapper_login_button {
    padding: 10px;
}

.wrapper_login_button button {
    height: 35px;
    padding-bottom: 7px;
}

#content_welcome_page .right_div {
    width: 420px;
    padding: 10px 0px 0px 65px;;
    border-left: 1px solid #555555;
    float: left;
    height: 370px;
    text-shadow: 1px 1px #333333;
}

#content_welcome_page .right_div .row_welcome_field {
    padding: 10px;
}

#content_welcome_page .right_div .row_welcome_field > label {
    font-size: 16px;
    padding: 0 10px;
}

#content_welcome_page .right_div .row_welcome_field > input {
    padding: 5px;
    height: 18px;
    border-radius: 5px 5px 5px 5px;
    width: 200px;
}

#content_welcome_page .right_div .login_div {
    margin-left: 160px;
    text-align: center;
    padding: 10px;
    width: 260px;
}

#content_welcome_page .right_div .login_div .login {
    height: 34px;
    width: 105px;
    text-shadow: 1px 1px #333333;
    font-family: trebuchet MS;
    margin-top: 10px;
}

#content_welcome_page .right_div .login_div .recover_password {
    color: #eee;
}

#content_welcome_page .right_div .login_div .recover_password:hover {
    text-decoration: underline;
    color: #05addc;
}

#content_welcome_page .right_div .register_div .new_user_text {
    float: left;
    font-size: 24px;
    height: 45px;
    line-height: 45px;
    margin-left: 5px;
    margin-right: 15px;
}

#content_welcome_page .right_div .register_div .register {
    background: url('img/signup_button.png') no-repeat;
    width: 169px;
    height: 48px;
}

#content_welcome_page .right_div .register_div .register:hover {
    background: url('img/signup_button_hover.png') no-repeat;
}

#content_welcome_page .right_div .register_div > div{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

#content_welcome_page .right_div  hr{
    margin: 30px 0px;
}

.popup_recover_password label {
    width: 120px;
}
