.help_recover {
    color: #eeeeee;
    font-style: normal;
    margin: 10px;
    padding: 10px;
}

.wrapper_login_button {
    padding: 10px;
}

.wrapper_login_button button {
    height: 35px;
    padding-bottom: 7px;
}

#content_welcome_page .right_div {
    width: 420px;
    padding-top: 10px;
    float: left;
    height: 370px;
    text-shadow: 1px 1px #333333;
}

#content_welcome_page .right_div .list_fields {
    border: 1px solid #353535;
    border-radius: 5px;
    background: #484848;
    padding: 10px 20px 10px 25px;
}

#content_welcome_page .right_div .row_welcome_field {
    margin-top: 10px;
    padding-bottom: 10px;
}

#content_welcome_page .right_div .row_welcome_field > label {
    font-size: 16px;
    padding: 0 10px;
    text-align: right;
    width: 120px;
    margin-right: 20px;
    line-height: 30px;
}

#content_welcome_page .right_div .row_welcome_field > input {
    border: 1px solid #444;
    border-radius: 5px 5px 5px 5px;
    height: 18px;
    width: 190px;
    padding: 5px;
}

#content_welcome_page .right_div .row_welcome_field > input:focus {
    border: 1px solid #05addc;
    outline: none; /* In order to get rid of Chrome's border */
}

#content_welcome_page .right_div .login_div {
    text-align: center;
    padding: 10px 10px 10px 0px;
}

#content_welcome_page .right_div .login_div .login {
    height: 34px;
    width: 105px;
    text-shadow: 1px 1px #333333;
    font-family: trebuchet MS;
    margin: 10px 0 0 0;
}

#content_welcome_page .right_div .login_div .recover_password {
    color: #eee;
    text-shadow: none;
    text-decoration: underline;
    margin-right: 10px;
}

#content_welcome_page .right_div .login_div .recover_password:hover {
    text-decoration: underline;
    color: #05addc;
}

#content_welcome_page .right_div .register_div .new_user_text {
    float: left;
    font-size: 24px;
    height: 45px;
    line-height: 45px;
    margin-left: 5px;
    margin-right: 15px;
}

#content_welcome_page .right_div .register_div .register {
    background: url('img/signup_button.png') no-repeat;
    width: 169px;
    height: 48px;
}

#content_welcome_page .right_div .register_div .register:hover {
    background: url('img/signup_button_hover.png') no-repeat;
}

#content_welcome_page .right_div .register_div > div{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

#content_welcome_page .right_div  hr{
    margin: 30px 0px;
}

.popup_recover_password label {
    width: 120px;
}
