<div>
    <div class="inner">
        <form id="vmbox-form" action="" method="post" class="niceform">
            {{if data.id}}
                <h1>Edit Voicemail Box</h1>
            {{else}}
                <h1>Create Voicemail Box</h1>
            {{/if}}

            <ul class="settings_tabs settings1">
                <li><a href="#">Basic Settings</a></li>
            </ul>

            <div class="clear"></div>

            <div class="pane">
                <div id="basic_settings">
                    <fieldset>
                        <ul class="controls">
                            <li>
                                <span class="tooltip-wrapper" tooltip="Friendly Name for this voicemail box">
                                    <span class="tooltip"/>
                                    <label for="name">Name:</label>
                                </span>
                                <input id="name" name="name" type="text" value="${data.name}" />
                            </li>
                            <li>
                                <span class="tooltip-wrapper" tooltip="Number of this voicemail box">
                                    <span class="tooltip"/>
                                    <label for="mailbox">Voicemail Box Number:</label>
                                </span>
                                <input id="mailbox" name="mailbox" type="text" value="${data.mailbox}" />
                            </li>
                            <li>
                                <span class="tooltip-wrapper" tooltip="Chose the owner of this voicemail box">
                                    <span class="tooltip"/>
                                    <label for="owner_id">Assign To:</label>
                                </span>
                                <select name="owner_id" id="owner_id">
                                {{each field_data.users}}
                                    {{if data.owner_id == id}}
                                        <option value="${id}" id="${id}" selected="selected">${first_name} ${last_name}</option>
                                    {{else}}
                                        <option value="${id}" id="${id}">${first_name} ${last_name}</option>
                                    {{/if}}
                                {{/each}}
                                </select>
                                <span id="edit_link"><a class="inline_action" data-action="edit" href="#">Edit</a>&nbsp;|</span>
                                <a class="inline_action" data-action="create" href="#">Create</a>
                            </li>
                            <li>
                                <span class="tooltip-wrapper" tooltip="Enter the PIN Number of this voicemail box">
                                    <span class="tooltip"/>
                                    <label for="pin">PIN number:</label>
                                </span>
                                <input id="pin" name="pin" type="text" value="${data.pin}" />
                            </li>
                            <li>
                                <span class="tooltip-wrapper" tooltip="Select the Unavailable message that you want to use for this this device.<br/>If you select - Not set -, then no media file will be played.">
                                    <span class="tooltip"/>
                                    <label for="media_unavailable">Unavailable Message:</label>
                                </span>
                                <select name="media.unavailable" id="media_unavailable">
                                {{each field_data.media}}
                                    {{if data.media.unavailable == id}}
                                        <option id="${id}" value="${id}" selected="selected">${name}</option>
                                    {{else}}
                                        <option id="${id}" value="${id}">${name}</option>
                                    {{/if}}
                                {{/each}}
                                </select>
                                <span id="edit_link_media"><a class="inline_action_media" data-action="edit" href="#">Edit</a>&nbsp;|</span>
                                <a class="inline_action_media" data-action="create" href="#">Create</a>
                            </li>
                        </ul>
                    </fieldset>

                    <div class="clear"></div>
                </div> <!-- end basic settings -->
            </div>

            <div class="clear"></div>

            <span class="advanced_settings_box">
                <span>
                    <h2 id="advanced_settings_link">Advanced Settings</h2>
                </span>

                <span class="advanced_tabs_wrapper">
                    <ul class="advanced_tabs settings2">
                        <li><a href="#"><span  class="icon wrench_screw"/>Options</a></li>
                    </ul>
                </span>

                <div class="clear"></div>
            </span>

            <div class="advanced_pane">

                <div id="options">
                    <fieldset>
                        <legend>Options</legend>
                        <ul class="controls">
                            <li>
                                <span class="tooltip-wrapper" tooltip="Select the time zone of this voicemail box">
                                    <span class="tooltip"/>
                                    <label for="timezone">Time zone:</label>
                                </span>
                                <select name="timezone" id="timezone">
                                </select>
                            </li>
                            <li>
                                <span class="tooltip-wrapper" tooltip="Is this voicemail box already considered initialized?<br>If not, the first time the user logs in they will be forced to change their PIN and setup a greeting.">
                                    <span class="tooltip"/>
                                    <label for="initialized">Already Setup?</label>
                                </span>
                                {{if data.is_setup}}
                                <input id="is_setup" name="is_setup" type="checkbox" checked="checked" />
                                {{else}}
                                <input id="is_setup" name="is_setup" type="checkbox"/>
                                {{/if}}
                            </li>
                            <li>
                                <span class="tooltip-wrapper" tooltip="Does this voicemail require a PIN?">
                                    <span class="tooltip"/>
                                    <label for="require_pin">Require PIN?</label>
                                </span>
                                {{if data.require_pin}}
                                <input id="require_pin" name="require_pin" type="checkbox" checked="checked" />
                                {{else}}
                                <input id="require_pin" name="require_pin" type="checkbox"/>
                                {{/if}}
                            </li>
                            <li>
                                <span class="tooltip-wrapper" tooltip="Do you want to enable auto-login for this voicemail box?<br/>(If the user call his own voicemail, it goes straight to his messages)">
                                    <span class="tooltip"/>
                                    <label for="check_if_owner">Auto-login enabled?</label>
                                </span>
                                {{if data.check_if_owner}}
                                <input id="check_if_owner" name="check_if_owner" type="checkbox" checked="checked" />
                                {{else}}
                                <input id="check_if_owner" name="check_if_owner" type="checkbox"/>
                                {{/if}}
                            </li>
                            <li>
                                <span class="tooltip-wrapper" tooltip="Do you want to skip greetings by default?">
                                    <span class="tooltip"/>
                                    <label for="skip_greeting">Skip Greeting?</label>
                                </span>
                                {{if data.skip_greeting}}
                                <input id="skip_greeting" name="skip_greeting" type="checkbox" checked="checked" />
                                {{else}}
                                <input id="skip_greeting" name="skip_greeting" type="checkbox"/>
                                {{/if}}
                            </li>
                            <li>
                                <span class="tooltip-wrapper" tooltip="Do you want to skip instructions by default?">
                                    <span class="tooltip"/>
                                    <label for="skip_instructions">Skip Instructions?</label>
                                </span>
                                {{if data.skip_instructions}}
                                <input id="skip_instructions" name="skip_instructions" type="checkbox" checked="checked" />
                                {{else}}
                                <input id="skip_instructions" name="skip_instructions" type="checkbox"/>
                                {{/if}}
                            </li>
                        </ul>
                    </fieldset>

                    <div class="clear"></div>

                </div>

            </div>
        <div class="buttons_wrapper">
            <ul class="buttons right vmboxes">
                <li><a class="vmbox-save save-btn" href="#">Save</a></li>
                {{if data.id}}
                    <li><a class="vmbox-delete delete-btn" href="#">Delete</a></li>
                {{/if}}
            </ul>
        </div>

        </form>
    </div>
</div>
