<div>
    <div class="main_content_resource">
        <div class="landing_btn_wrapper">
            {{if resource_type === 'offnet'}}
                <div class="title">
                    {{if company_name}}
                    <h1>${_t('congratulations_youre_now_using')} ${company_name} ${_t('as_your_global_carrier')}</h1>
                    {{else}}
                    <h1>${_t('congratulations_youre_now_using')} ${_t('your_provider')} ${_t('as_your_global_carrier')}</h1>
                    {{/if}}
                    <div class="help_text">
                        ${_t('if_you_want_to_manage')}
                    </div>
                </div>
                <div class="resource_buttons">
                    <div class="wrapper_div">
                        <div class="hosted_btn resource_btn pressed">
                            <div class="button_text">
                            {{if company_name}}
                                ${_t('use')} ${company_name} ${_t('as_my_phone_company')}
                            {{else}}
                                ${_t('use_my_provider')}
                            {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="wrapper_div">
                        <div class="different_carrier_btn resource_btn">
                            <div class="button_text">
                            ${_t('use_a_different_carrier')}
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                {{if resource_type === 'resources'}}
                    <div class="title">
                        <h1>${_t('your_account_is_currently')}</h1>
                        <div class="help_text">
                            ${_t('you_can_manage_your_own_carriers')}
                        </div>
                    </div>
                    <div class="resource_buttons">
                        <div class="wrapper_div">
                            <div class="hosted_btn resource_btn">
                                <div class="button_text">
                                {{if company_name}}
                                    ${_t('use')} ${company_name} ${_t('as_my_phone_company')}
                                {{else}}
                                    ${_t('use_my_provider')}
                                {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="wrapper_div">
                            <div class="different_carrier_btn resource_btn pressed">
                                <div class="button_text">
                                ${_t('use_a_different_carrier')}
                                </div>
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{if resource_type === 'none'}}
                        <div class="title">
                            <h1>${_t('select_the_type')}</h1>
                        </div>
                        <div class="resource_buttons">
                            <div class="wrapper_div">
                                <div class="hosted_btn resource_btn">
                                    <div class="button_text">
                                    {{if company_name}}
                                        ${_t('use')} ${company_name} ${_t('as_my_phone_company')}
                                    {{else}}
                                        ${_t('use_my_provider')}
                                    {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper_div">
                                <div class="different_carrier_btn resource_btn">
                                    <div class="button_text">
                                    ${_t('use_a_different_carrier')}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div class="title">
                            <h2>${_t('this_module_is_meant')}</h2>
                            <h2>${_t('as_youre_already_using')}</h2>
                            <h3>${_t('in_order_to_re_enable_this_module')}</h3>
                        </div>
                        </div>
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>
