#registration-view {
    width: 90%;
    margin : auto;
}

#registration-view .dataTables_wrapper {
    margin-top: 30px;
}

#registration-view .button-wrapper {
    text-align: right;
}

#registration-view .button-wrapper a {
    display: inline-block;
    width: 81px;
    height: 27px;
    line-height: 27px;
    font-weight: bold;
    color: #fff;
    background-image: url(../../../../whapps/core/layout/images/button_bg.png);
    text-decoration: none;
    text-align: center;
}

#registration-view .button-wrapper a:hover {
    color: #29abe1;
}

