#registration-view {
    width: 90%;
    margin : auto;
}

#registration-view .dataTables_wrapper {
    margin-top: 30px;
}

#registration-view .registration_buttons {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
