.welcomediv {
    background-image: url(../images/AppStore_welcomePage.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
	width: 100%;
    height: 465px;
}

.wrapper_login_button {
    padding: 10px;
}

.wrapper_login_button button {
    height: 35px;
    padding-bottom: 7px;
}

.register_text_wrapper {
    text-align: center;
    padding: 15px;
}

.login_bottom_links {
    padding-bottom: 10px;
}

#content_welcome_page {
    margin: 75px auto auto;
    width: 1000px;
}

#content_welcome_page .left_div {
    width: 480px;
    padding: 10px 25px 0 0;
    border-right: 1px solid #aaaaaa;
    float: left;
    height: 370px;
}

#content_welcome_page .left_div .title {
    color: #c4db4c;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px #333;
    padding-bottom: 25px;
}

#content_welcome_page .left_div .learn_more {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px #333;
}

#content_welcome_page .left_div .learn_more > a {
    color: #05addc;
}

#content_welcome_page .left_div .learn_more > a:hover {
    color: #EEEEEE;
}

#content_welcome_page .left_div .world_map {
    background-image: url(../images/map.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 368px;
    height: 213px;
    margin: 45px auto auto;
}

#content_welcome_page .right_div {
    width: 420px;
    padding: 10px 0px 0px 65px;;
    border-left: 1px solid #555555;
    float: left;
    height: 370px;
    text-shadow: 1px 1px #333333;
}

#content_welcome_page .right_div .row_welcome_field {
    padding: 10px;
}

#content_welcome_page .right_div .row_welcome_field > label {
    font-size: 16px;
}

#content_welcome_page .right_div .row_welcome_field > input {
    padding: 5px;
    height: 18px;
    border-radius: 5px 5px 5px 5px;
    width: 200px;
}

#content_welcome_page .right_div .row_welcome_field .login {
    height: 34px;
    width: 105px;
    text-shadow: 1px 1px #333333;
}

#content_welcome_page .right_div .row_welcome_field .recover_password {
    margin-left: 50px;
}

#content_welcome_page .right_div .register_div .new_user_text {
    font-size: 19px;
    padding-right: 50px;
}

#content_welcome_page .right_div .register_div .register {
    font-weight: bold;
    height: 45px;
    width: 145px;
    text-shadow: 1px 1px #333333;
}

#content_welcome_page .right_div .register_div > div{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

#content_welcome_page .right_div  hr{
    margin: 30px 0px;
}
