#content_welcome_page {
    margin: 75px auto auto;
    width: 1000px;
}

#content_welcome_page .left_div {
    width: 480px;
    padding: 10px 25px 0 0;
    border-right: 1px solid #aaaaaa;
    float: left;
    height: 370px;
}

#content_welcome_page .left_div .title {
    color: #c4db4c;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px #333;
    padding-bottom: 25px;
}

#content_welcome_page .left_div .learn_more {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px #333;
}

#content_welcome_page .left_div .learn_more > a {
    color: #05addc;
}

#content_welcome_page .left_div .learn_more > a:hover {
    color: #EEEEEE;
}

#content_welcome_page .left_div .world_map {
    background-image: url(../images/map.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 368px;
    height: 213px;
    margin: 45px auto auto;
}
