/* 
    Document   : buttons
    Created on : Jul 31, 2011, 10:01:17 AM
    Author     : Darren Schreiber
    Description:
        CSS Buttons
*/

/*************** Buttons *****************/
.button, button {
    background-image: url("../images/regular_btn.png");
    font-weight: bold;
    color: #ffffff;
    border: 0 none;
    text-align: center;
    height: 27px;
    width: 81px;
    margin-right: 5px;
}

.button:hover, button:hover {
    color: #05AFDC;
    cursor: pointer;
}

.save-btn:hover {
    color: greenyellow !important;
}

.delete-btn:hover {
    color: red !important;
}