/* 
    Document   : tabs
    Created on : Jun 5, 2011, 11:49:22 PM
    Author     : dman
    Description:
        Purpose of the stylesheet follows.
*/


/**************************
----TOP TABS ACCOUNT---------
****************************/
ul.settings_tabs {
	margin: 5px 0 0 31px;
	padding: 0;
	width: 100%;
	list-style-type: none;
}

ul.settings_tabs li {
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul.settings_tabs li:hover {
	background-position: 0px -23px;
}

ul.settings_tabs a {
	text-decoration: none;
	display: block;
	background-image: url(../images/tabs/settings_tabs.png);
	background-position: 0px 0px;
	height: 23px;
	width: 155px;
	line-height: 23px;
	position: relative;
	color: #fff;
}

ul.settings_tabs a:hover {
	background-position: 0px -23px;
}

ul.settings_tabs a.current,ul.settings_tabs a.current:hover,ul.settings_tabs li.current a
	{
	background-position: 0px -23px;
	cursor: default !important;
	color: #fff !important;
}

.pane {
	width: 760px;
	border: 1px solid #727272;
	margin-left: 18px;
	padding: 20px;
	background-color: #a3a3a3;
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
}



/*******************
----BOTTOM TABS-----
*******************/
.advanced_settings_box {
	background-image:
		url(../images/tabs/advacnce_settings_box.png);
/*	width: 800px;*/
	height: 30px;
	margin: 12px 0 0 18px;
    display: inline-block;
}

.advanced_settings_box h2 {
	font-weight: bold;
	line-height: 30px;
	padding-left: 18px;
	float: left;
	display: block; 
    width: 124px;
    margin: 0;
}

.advanced_tabs_wrapper {
    display: inline-block;
    width: 658px;
    height: 30px;
}

ul.advanced_tabs {
	float: left;
	margin-left: 30px;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
}

ul.advanced_tabs li {   
	float: left;
	margin: 0;
/*	padding-left: 28px;*/
	text-align: center;
	height: 30px;
	display: block;
        padding-right: 24px;
}

ul.advanced_tabs a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	height: 30px;
        line-height: 30px;
	display: block;
        text-align: left;
}

ul.advanced_tabs a:hover {
	color: #29abe1;
}

ul.advanced_tabs a.current,ul.advanced_tabs a.current:hover,ul.advanced_tabs li.current a
	{
	background-image: url(../images/tabs/triangle.gif);
	background-repeat: no-repeat;
	cursor: default !important;
	color: #29abe1 !important;
	background-position: center bottom;
}

.advanced_pane {
	width: 760px;
	margin-left: 18px;
	padding: 20px;
	color: #5e5f61;
	background-color: #c7c7c7;
    border: 1px solid #727272
}

