<div>
    <div id="bulk-view">
        <div class="table-wrapper">
            <table id="bulk-grid" class="display">
            </table>
        </div>

        <div class="form-wrapper">
            <form id="bulk-form">
                <div class="pill-content">
                    <div class="active basic_view">
                        <div class="help_box">
                            ${_t('how_to_use_this_bulk_module')}<br/>
							${_t('select_users_or_and_devices')}<br/>
							${_t('choose_what_fields')}<br/>
							${_t('press_ok')}
                        </div>

                        <h3>${_t('miscellaneous')}</h3>
                        <!-- Using ID for each clearfix is mandatory, see form2object to understand this hack -->
                        <div class="clearfix" id="line1">
                            <label class="checkbox checkbox-label">
                                <input type="checkbox" name="extra.checkbox" class="bulk-edit-checkbox"> ${_t('music_on_hold')}
                            </label>
                            <div class="input">
                                <select name="music_on_hold.media_id" id="music_on_hold_media_id" class="medium">
                                    {{each field_data.music_on_hold}}
                                        <option id="${id}" value="${id}">${name}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="clearfix" id="line2">
                            <label class="checkbox checkbox-label">
                                <input type="checkbox" name="extra.checkbox" class="bulk-edit-checkbox"> ${_t('timezone')}
                            </label>
                            <div class="input">
                                <select name="timezone" id="timezone" rel="popover"></select>
                            </div>
                        </div>

                        <div class="clearfix enabledisable" id="line3">
                            <label class="checkbox checkbox-label">
                                <input type="checkbox" name="enable" class="bulk-edit-checkbox"> ${_t('enable')}
                            </label>
                        </div>

                        <div class="clearfix enabledisable" id="line4">
                            <label class="checkbox checkbox-label">
                                <input type="checkbox" name="disable" class="bulk-edit-checkbox"> ${_t('disable')}
                            </label>
                        </div>

                        <div class="clearfix" id="line5">
                            <label class="checkbox checkbox-label">
                                <input type="checkbox" name="extra.checkbox" class="bulk-edit-checkbox"> ${_t('caller_id_external')}
                            </label>
                            <div class="input">
                                <p>${_t('caller_id_name')}:</p>
                                <input type="text" id="caller_id_name_external" name="caller_id.external.name" placeholder="${_t('name_placeholder')}" data-content="${_t('caller_id_external_name_content')}">
                            </div>
                            <br/>
                            <div class="input">
                                <p>${_t('caller_id_number')}:</p>
                                <input type="text" id="caller_id_number_external" name="caller_id.external.number" placeholder="+15555555555" data-content="${_t('caller_id_external_number_content')}">
                            </div>
                        </div>

                        <div class="clearfix" id="line6">
                            <label class="checkbox checkbox-label">
                                <input type="checkbox" name="extra.checkbox" class="bulk-edit-checkbox"> ${_t('caller_id_emergency')}
                            </label>
                            <div class="input">
                                <p>${_t('caller_id_name')}:</p>
                                <input type="text" id="caller_id_name_emergency" name="caller_id.emergency.name" placeholder="${_t('name_placeholder')}" data-content="${_t('caller_id_emergency_name_content')}">
                            </div>
                            <br/>
                            <div class="input">
                                <p>${_t('caller_id_number')}:</p>
                                <input type="text" id="caller_id_number_emergency" name="caller_id.emergency.number" placeholder="+15555555555" data-content="${_t('caller_id_emergency_number_content')}">
                            </div>
                        </div>

                        <div class="clearfix" id="line7">
                            <label class="checkbox checkbox-label">
                                <input type="checkbox" name="extra.checkbox" class="bulk-edit-checkbox"> ${_t('outbound_flags')}
                            </label>
                            <div class="input">
                                <input type="text" id="outbound_flags" name="outbound_flags" data-content="${_t('outbound_flags_data_content')}"/>
                            </div>
                        </div>

						<div class="clearfix" id="line8">
							<label class="checkbox checkbox-label">
								<input type="checkbox" name="extra.checkbox" class="bulk-edit-checkbox"> ${_t('audio_codecs')}
							</label>
							<div class="input">
								<ul class="inputs-list audio-codecs">
									{{each(key, val) field_data.media.audio.codecs}}
									<li>
										<label>
											<input type="checkbox" name="media.audio.codecs[]" value="${key}"/>
											<span>${val}</span>
										</label>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>

						<div class="clearfix" id="line9">
							<label class="checkbox checkbox-label">
								<input type="checkbox" name="extra.checkbox" class="bulk-edit-checkbox"> ${_t('seat_type')}
							</label>
							<div class="input">
								<select name="seat_type" id="seat_type_id" class="medium">
									{{each field_data.seat_types}}
										<option id="${id}" value="${id}">${display_name}</option>
									{{/each}}
								</select>
							</div>
						</div>

						<div class="clearfix" id="line10">
							<label class="checkbox checkbox-label">
								<input type="checkbox" name="extra.checkbox" class="bulk-edit-checkbox"> ${_t('location')}
							</label>
							<div class="input">
								<select name="location" id="location" class="medium">
									{{each field_data.locations}}
										{{if id == data.location}}
											<option id="${id}" value="${id}" selected>${display_name}</option>
										{{else}}
											<option id="${id}" value="${id}">${display_name}</option>
										{{/if}}
									{{/each}}
								</select>
							</div>
						</div>

                        <hr/>
                        <h3>${_t('restrictions')}</h3>
                        {{each(k, v) field_data.call_restriction}}
                        <div class="clearfix" id="line_${k}">
                            <label class="checkbox checkbox-label">
                                <input type="checkbox" name="extra.checkbox" class="bulk-edit-checkbox"> ${v.friendly_name}
                            </label>
                            <div class="input">
                                 <select name="call_restriction.${k}.action" class="medium" rel="popover">
                                    {{if data.call_restriction[k].action === 'deny'}}
                                        <option value="deny" selected>${_t('deny')}</option>
                                        <option value="inherit">${_t('inherit')}</option>
                                    {{else}}
                                        <option value="deny">${_t('deny')}</option>
                                        <option value="inherit" selected>${_t('inherit')}</option>
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </form>
            <div class="buttons-right">
                <button class="btn success bulk-save">${_t('save')}</button>
            </div>
        </div>
    </div>
</div>
