<div>
	<div class="row">
		<div class="whapp-header">
			{{if data.id}}
                <h1>${_t('edit_directory')}</h1>
            {{else}}
                <h1>${_t('create_directory')}</h1>
            {{/if}}
			<div class="buttons-right pasted view-buttons">
				<button class="btn black basic activate">${_t('basic')}</button>
				<button class="btn black advanced">${_t('advanced')}</button>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="tabs" data-tabs="tabs">
		 	<li class="active"><a href="#basic">${_t('basic')}</a></li>
		 	<li><a href="#options"><span class="icon wrench_screw"></span>${_t('options')}</a></li>
		</ul>
		<form id="directory-form" action="" method="post">
			<div class="pill-content">
				<div class="active basic_view" id="basic">
					<div class="clearfix">
						<label for="name">${_t('name')}</label>
						<div class="input">
							<input class="span4" id="name" name="name" type="text" placeholder="${_t('name')}" value="${data.name}" rel="popover" data-content="${_t('name_data_content')}"/>
						</div>
					</div>

					<div class="row">
                    	<div id="tab_users">
	                        <div class="row title">
	                            <div class="column first">${_t('user')}&nbsp;&nbsp;<span class="icon medium user"/></div>
	                            <div class="column second">${_t('callflow')}&nbsp;&nbsp;<span class="icon medium callflow"/></div>
	                            <div class="column third">${_t('remove')}</div>
	                        </div>
	                        <div class="rows">
	                        </div>
	                    </div>


	                    <div class="add_user">
	                        <div class="add_user_title">${_t('add_user')}</div>
	                        <div class="add_content_wrapper">
	                            <div class="add_user_fields">
	                                <ul class="controls">
	                                    <div id="user_list_select">
	                                        <li>
	                                            <label>${_t('user')}</label>
	                                            <select name="select_user_id" id="select_user_id">
	                                                <option id="empty_option_user" value="empty_option_user">-- ${_t('select')} --</option>
	                                                {{each field_data.users}}
	                                                    <option value="${id}" id="option_user_${id}">${first_name} ${last_name}</option>
	                                                {{/each}}
	                                            </select>
	                                        </li>
	                                        <div class="clear"/>
	                                    </div>
	                                    <li id="callflow_li">
	                                        </span>
	                                        <label>${_t('callflow')}</label>
	                                        <select name="callflow_id" id="callflow_id">
	                                            <option id="empty_option_callflow" value="empty_option_callflow">-- ${_t('select')} --</option>
	                                            {{each field_data.callflows}}
	                                                <option value="${id}" id="option_callflow_${id}">
	                                                	&nbsp;
	                                                	{{if name}}
	                                                		${name}&nbsp;
                                                		{{else}}
	                                                		{{each(k,v) numbers}}${v}&nbsp;{{/each}}
                                                		{{/if}}
	                                                </option>
	                                            {{/each}}
	                                        </select>
	                                    </li>
	                                    <div class="clear"/>
	                                </ul>
	                            </div>
	                            <div class="add_user_div">
	                                <span class="add_user_icon"/>
	                                <a class="add_user_link" href="javascript:void(0);" data-directory_id="${data.id}">${_t('add_this_user')}</a>
	                                <div class="clear"/>
	                            </div>
	                        </div>
	                    </div>
                    </div>
				</div>

				<div id="options">
					<div class="clearfix">
						<label for="min_dtmf">${_t('minimum_number_of_input')}</label>
						<div class="input">
							<input class="span4" id="min_dtmf" name="min_dtmf" type="text" placeholder="${_t('minimum_number_of_input_placeholder')}" value="${data.min_dtmf}" rel="popover" data-content="${_t('minimum_number_of_input_data_content')}"/>
						</div>
					</div>

					<div class="clearfix">
						<label for="max_dtmf">${_t('max_number_of_input')}</label>
						<div class="input">
							<input class="span4" id="max_dtmf" name="max_dtmf" type="text" placeholder="${_t('max_number_of_input_placeholder')}" value="${data.max_dtmf}" rel="popover" data-content="${_t('max_number_of_input_data_content')}"/>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="${_t('confirm_match_data_content')}">
											{{if data.confirm_match == true}}
							                    <input type="checkbox" id="confirm_match" name="confirm_match" checked="checked" />
							                {{else}}
							                    <input type="checkbox" id="confirm_match" name="confirm_match" />
							                {{/if}}
							                <span>${_t('confirm_match')}</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>

					<div class="clearfix">
						<label for="sort_by">${_t('sort_by')}</label>
						<div class="input">
							<select name="sort_by" id="sort_by" class="medium" rel="popover" data-content="${_t('sort_by_data_content')}">
								 {{each(key, val) field_data.sort_by}}
                                    {{if data.sort_by == key}}
                                    <option value="${key}" selected="selected">${val}</option>
                                    {{else}}
                                    <option value="${key}">${val}</option>
                                    {{/if}}
                            	{{/each}}
							</select>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="buttons-right">
	        {{if data.id}}
	            <button class="btn danger directory-delete">${_t('delete')}</button>
	        {{/if}}
            <button class="btn success directory-save">${_t('save')}</button>
		</div>
	</div>
</div>
