<div>
	<div class="row">
		<div class="whapp-header">
			{{if data.id}}
                <h1>Edit Group</h1>
            {{else}}
                <h1>Create Group</h1>
            {{/if}}
			<div class="buttons-right pasted view-buttons">
				<button class="btn black basic activate">Basic</button>
				<button class="btn black advanced">Advanced</button>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="tabs" data-tabs="tabs">
		 	<li class="active"><a href="#basic">Basic</a></li>
		</ul>
		<form id="group-form" action="" method="post">
			<div class="pill-content">
				<div class="active basic_view" id="basic">
					<div class="clearfix">
						<label for="name">Name</label>
						<div class="input">
							<input class="span4" id="name" name="name" type="text" placeholder="Name" value="${data.name}" rel="popover" data-content="Friendly name for this Group"/>
						</div>
					</div>

					<div class="row">
                        <div id="table_wrapper">
                            <div id="tab_users">
                                <div class="row title">
                                    <div class="column first">Endpoints</div>
                                    <div class="column second">Remove</div>
                                </div>
                                <div class="rows">
                                </div>
                            </div>

                            <div class="add_endpoint_wrapper">
                                <div class="add_endpoint">
                                    <div class="add_endpoint_title"><span class="icon user"/>Add User</div>
                                    <div class="add_content_wrapper">
                                        <select name="extra.select_user_id" id="select_user_id">
                                            <option id="empty_option_user" value="empty_option_user">-- Select --</option>
                                            {{each field_data.users}}
                                                <option value="${id}" id="option_endpoint_${id}">${first_name} ${last_name}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>

                                <div class="add_endpoint">
                                    <div class="add_endpoint_title"><span class="icon device"/>Add Device</div>
                                    <div class="add_content_wrapper">
                                        <select name="extra.select_device_id" id="select_device_id">
                                            <option id="empty_option_device" value="empty_option_device">-- Select --</option>
                                            {{each field_data.devices}}
                                                <option value="${id}" id="option_endpoint_${id}">${name}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</form>
		<div class="buttons-right">
	        {{if data.id}}
	            <button class="btn danger group-delete">Delete</button>
	        {{/if}}
            <button class="btn success group-save">Save</button>
		</div>
	</div>
</div>
