.audio-codecs {
	-moz-columns: 3;
	-webkit-columns: 3;
	columns: 3;
}

#bulk-view {
    margin: 30px auto auto;
    width: 90%;
}

#bulk-view .checkbox-label {
    text-align: left;
}

#bulk-view label {
    width: 100%;
}