#browserphone_creds {
  margin: 10px;
}

#browserphone_creds .fancy_help {
  margin: 0px auto;
  margin-bottom: 15px;
}

#browserphone_creds input[type=text] {
  font-size: 15px;
  width: 250px;
  margin: 0px auto;
  display: block;
}

#browserphone_creds input.invalid {
  border: 1px solid #f00;
}

#browserphone_creds .submit {
  margin: 0px auto;
  display: block;
}
