#myaccount_popup #billing a {
    background-image: url(../images/regular_btn.png);
    width: 81px;
    height: 27px;
    text-align: center;
    font-weight: bold;
    display: block;
    line-height: 27px;
    color: white;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px
}

#myaccount_popup #billing a:hover {
    color: #05AFDC;
    cursor: pointer;
}

#myaccount_popup #billing p.note_box {
    background-color: #E7E7E7;
    padding: 15px 10px;
    font-size: 10px;
    line-height: 15px;
}

#myaccount_popup .popup_bottom {
    text-align: center;
}
