#billing-form .clearfix {
    display: block;
}

#billing-form .card {
	display: inline-block;
	background-repeat: no-repeat;
	height: 25px;
	width: 40px;
	vertical-align: middle;
	margin-bottom: 2px;
	opacity: 0.2;
}

#billing-form #visa {
	background-image: url('../img/visa.png');
}

#billing-form #mastercard {
	background-image: url('../img/mastercard.png');
}

#billing-form #amex {
	background-image: url('../img/amex.png');
}

#billing-form hr {
	margin: 20px 0 19px;
}

#billing-form span {
	color: #E6E6E6;
}

