<div>
    {{each(call_id, call) calls_waiting}}
        <li title="${call_id}" class="call-waiting list-element" style="display: block;" data-call_id="${call_id}" data-queue_id="${call.queue_id}">
            {{if call.is_callback}}
            	<img src="whapps/call_center/dashboard/css/images/callback.png" title="Callback"/>
            {{/if}}
            {{if call.required_skills}}{{if call.required_skills.length}}
                <span class="call_skills icon white flag1" data-id="${call.id}" rel="twipsy" data-animate="false" data-placement="below" title="Call requires skills" />
            {{/if}}{{/if}}
            {{if call.caller_priority}}
                <span class="caller_priority icon white star" title="${_t('caller_priority')}: ${call.caller_priority}" />
            {{/if}}
            <span class="timer">${call.friendly_duration}</span>
            <a href="#" data-module="activate" data-action="media">${call.friendly_title}</a>
        </li>
    {{/each}}
</div>
