<div>
    <div class="node-options">
        <div id="${node.id}" class="delete"/>
        <div class="module">
            <div class="div_icon">
                <span class="icon ${callflow.icon}"/>
                <span class="module_name">${callflow.name}</span>
            </div>
            <div class="details">
                {{if 'var' in node.data.data}}
                ${node.data.data.var.substr(0,28)}<br/>
                {{/if}}
                
                {{if node.module != 'callflow'}}
                ${node.caption.substr(0,28)}
                {{else}}
                <a class="edit_callflow" href="#">${node.caption.substr(0,28)}</a>
                {{/if}}
            </div>
        </div>
        <div class="clear"/>
    </div>
</div>



