<div>
    <div id="ring_group_popup" class="dialog_popup">
        <div class="form_content">
            <div class="popup_field">
                <label>${_t('name_this_ring_group')}</label>
                <input id="name" type="text" value="${form.name}"/>
                <div class="clear"/>
            </div>
            <div class="popup_field">
                <label>${_t('ring_strategy')}</label>
                <select id="strategy">
                    {{each(i, obj) form.strategy.items}}
                        {{if form.strategy.selected == obj.id}}
                            <option value="${obj.id}" SELECTED>${obj.name}</option>
                        {{else}}
                            <option value="${obj.id}">${obj.name}</option>
                        {{/if}}
                    {{/each}}
                </select>
            </div>
            <div class="popup_field">
                <label>${_t('ringback')}</label>
                <select id="ringback">
                    {{each(i, obj) form.ringback.items}}
                        {{if form.ringback.selected == obj.id}}
                            <option class="${obj.class}" value="${obj.id}" SELECTED>${obj.name}</option>
                        {{else}}
                            <option class="${obj.class}"  value="${obj.id}">${obj.name}</option>
                        {{/if}}
                    {{/each}}
                </select>
                <a href="#" class="media_action" data-action="edit">Edit</a>
                <a href="#" class="media_action" data-action="create">Create</a>
            </div>
        </div>
        <div id="two_columns">
            <div class="wrapper">
                <ul class="settings_tabs settings1">
                    <li class="current"><a id="users_tab_link" href="javascript:void(0);">${_t('users')}</a></li>
                    <li><a id="devices_tab_link" href="javascript:void(0);">${_t('devices')}</a></li>
                    <li><a id="groups_tab_link" href="javascript:void(0);">${_t('groups')}</a></li>
                    <div class="clear"/>
                </ul>
                <div class="clear"></div>

                <div class="panes">
                    <div class="pane_content" id="devices_pane">
                        <div class="column left">
                            <div class="search_box title_column">
                                <div class="searchsubmit1"/>
                                <input class="search searchfield" type="text" placeholder="${_t('device_name')}"/>
                                <div class="searchsubmit2"/>
                                <div class="clear"/>
                            </div>
                            <div class="scrollable device">
                                <ul class="connect left">
                                </ul>
                            </div>
                            <div class="clear"/>
                        </div>
                    </div>

                    <div class="pane_content" id="users_pane">
                        <div class="column left">
                            <div class="search_box title_column">
                                <div class="searchsubmit1"/>
                                <input class="search searchfield" type="text" placeholder="${_t('user_name')}"/>
                                <div class="searchsubmit2"/>
                                <div class="clear"/>
                            </div>
                            <div class="scrollable user">
                                <ul class="connect left">
                                </ul>
                            </div>
                            <div class="clear"/>
                        </div>
                    </div>

                    <div class="pane_content" id="groups_pane">
                        <div class="column left">
                            <div class="search_box title_column">
                                <div class="searchsubmit1"/>
                                <input class="search searchfield" type="text" placeholder="${_t('group_name')}"/>
                                <div class="searchsubmit2"/>
                                <div class="clear"/>
                            </div>
                            <div class="scrollable group">
                                <ul class="connect left">
                                </ul>
                            </div>
                            <div class="clear"/>
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="title_column"><div class="title">${_t('ring_group')} - ${form.name}</div><div class="options">&nbsp;${_t('delays')}&nbsp;&nbsp;&nbsp;${_t('timeouts')}</div><div class="actions_item">${_t('delete')}</div></div>
                    <div class="scrollable">
                        <ul class="connect right">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"/>
        </div>

        <div class="buttons-center">
            <button class="btn primary" id="save_ring_group">OK</button>
        </div>
    </div>
</div>
