.switch_account_popup .main_content {
    width: 450px;
}

.switch_account_popup .main_content .pill-content .clearfix {
    display: block;
}

#accounts_manager-form .player_file .uneditable-input {
    white-space: nowrap;
    overflow: hidden;
}

#accounts_manager-form .player_file .logo_div {
    margin-top: 10px;
    width: 190px;
    height: 72px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #444;
}

#accounts_manager-form .player_file_icon .icon_div {
    margin-top: 10px;
    width: 64px;
    height: 64px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #444;
}

#accounts_manager-form .refresh_text {
    margin-left: 150px;
}

#accounts_manager-form span.mini {
    width: 50px;
}

#accounts_manager-form .check-value {
    width: 30px;
    margin: 0 10px;
}

#accounts_manager-form #amount_balance {
    width: 60px;
}

#accounts_manager-form span.highlighted {
    font-weight: bold;
    color: #05addc;
}

#accounts_manager-form .text-inline {
    color: #05ADDC;
    font-weight: bold;
    text-align: left;
}

#accounts_manager-form #textCheckbox {
    text-align: right;
}

.notificationsTitle{

    margin-left: 35px;
    font-weight: bold;
}

/* Blacklist part */
#accounts_manager-form .list-blacklists {
    display: block;
    margin: auto;
    width: 470px;
}

#accounts_manager-form .list-blacklists .add-blacklist {
    margin-bottom: 10px;
    border-radius: 4px;
}

#accounts_manager-form .list-blacklists .saved-blacklists {
    max-height: 300px;
    overflow: auto;
}

#accounts_manager-form .blacklist-wrapper {
    background: #444;
    border-top: 1px solid #22ccff;
    border-right: 1px solid #22ccff;
    border-left: 1px solid #22ccff;
    line-height: 30px;
}

#accounts_manager-form .blacklist-wrapper.placeholder > div,
#accounts_manager-form .blacklist-wrapper:not(.placeholder) {
    padding: 5px 10px;
}

#accounts_manager-form .blacklist-wrapper.placeholder .create-text:hover {
    background: #222;
    cursor: pointer;
}

#accounts_manager-form .saved-blacklists .blacklist-wrapper:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

#accounts_manager-form .saved-blacklists .blacklist-wrapper:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    border-bottom: 1px solid #22ccff;
}

#accounts_manager-form .blacklist-wrapper.placeholder {
    background: none;
    border: 1px dashed #999;
}

#accounts_manager-form .blacklist-wrapper.placeholder .create-inputs,
#accounts_manager-form .blacklist-wrapper.placeholder.active .create-text {
    display: none;
}

#accounts_manager-form .blacklist-wrapper.placeholder.active .create-inputs,
#accounts_manager-form .blacklist-wrapper.placeholder .create-text {
    display: inherit;
}
