/*ul.buttons.accounts {
    margin-left: 490px;
    width: 400px;
}*/

#account-view .deregister_block {
    line-height: 20px;
    height: 20px;
}

#account-view .deregister_block label {
    float: none;
    width: auto;
}

#account-view .deregister_block input[type="checkbox"] {
    margin-left: 5px;
}
