.main_nav li .dropdown {
    float: left;
    position: relative;
    top: 18px;
    left: -24px;
    width: 155px;
    /*height: 50px;*/
}

.main_nav li .dropdown .content {
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
}

.main_nav li .dropdown .background {
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #393939;
    opacity: 0.95;
    filter: alpha(opacity=95);
    width: 100%;
    height: 100%;
    border-right: 1px #05ADDC solid;
    border-left: 1px #05ADDC solid;
    border-bottom: 1px #05ADDC solid;
    z-index: -100;
}

.main_nav li .dropdown .content .module_category {
    clear: both;
}

.main_nav li .dropdown .content .module_category .header {
    padding: 0px 5px;
    padding-top: 1px;
    margin: 5px;
    font-size: 12px;
    height: 16px;
    font-weight: bold;
    background: #888888;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
}

.main_nav li .dropdown .content .module_category .header .expand_icon {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background-image: url(../images/minus.png);
    background-repeat: no-repeat;
    background-position: right;
}

.main_nav li .dropdown .content .module_category.not_expanded .header .expand_icon {
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    background-position: right;
}

.main_nav li .dropdown .content .module_category.not_expanded .module_wrapper {
    display: none;
}

.main_nav li .dropdown .content .module {
    display: block;
    margin-left: 10px;
    height: 30px;
    width: 145px;
    font-size: 10px;
    text-align: left;
    float: left;
}

/*
.main_nav li .dropdown .content .module:nth-child(odd) {
    width: 146px;
    background-image: url(../../layout/images/nav_line.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
*/
