#report_popup .main_content ul {
    list-style: none;
}

#report_popup .main_content #subtotals span {
    color: #05ADDC;
    font-size: 14px;
    text-shadow: 1px 1px 1px #333333;
}

#report_popup .sorting, #report_popup .sorting_asc, #report_popup .sorting_desc {
    background: #222 !important;
}

#report_popup label {
    display: block;
    text-align: left;
    width: 100%;
}

#report_popup button {
    margin-top: 10px;
}

#report_popup .row.half {
    width: 50%;
    float: left;
}

#report_popup .table-report {
    float: left;
    margin-top: 20px;
    width: 100%;
}
