#group-form #table_wrapper {
    display: inline-block;
    text-align: center;
    width: 100%;
}

#group-form #tab_users  {
    border: 2px solid #666666;
    border-radius: 5px 5px 0px 0px;
    color: #666666;
    width: 330px;
    max-height: 342px;
    display: inline-block;
}

#group-form #tab_users .rows {
    max-height: 310px;
    overflow: auto;
}

#group-form #tab_users .action_user {
    color: #666666;
    cursor: pointer;
    text-decoration: underline;
    line-height: 30px;
}

#group-form #tab_users .action_user:not(:first-child) {
    margin-left: 10px;
}
#group-form #tab_users .action_user:hover {
    color: #05addc;
}

#group-form #tab_users .column.first:not(:last-child) {
    border-right: 1px solid #A6A6A6;
}

#group-form #tab_users .column {
    float: left;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

#group-form #tab_users .column.first {
    width: 250px;
    overflow: hidden;
    text-align:center;
    cursor: move;
}

#group-form #tab_users .column.second {
    width: 59px;
}

#group-form #tab_users .column.merged {
    width: 330px;
}

#group-form #tab_users .row {
    height: 30px;
    margin-left: 0px;
}

#group-form #tab_users .row.title {
    background-color: #dddddd !important;
    border-bottom: 2px solid #666666 !important;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
}

#group-form #tab_users .row:not(:last-child) {
    border-bottom: 1px solid #A6A6A6;
}

#group-form #tab_users .row:nth-child(odd) {
    background-color: #eeeeee;
}

#group-form #tab_users .row:nth-child(even) {
    background-color: #dddddd;
}

#group-form #tab_users .icon.userportal {
    background-position: -476px -196px;
}

#group-form .add_endpoint_wrapper{
    float: right;
    width: 230px;
}

#group-form .add_endpoint {
    color: #666666;
    background: #666666;
    border-radius: 5px 5px 5px 5px;
}

#group-form .add_endpoint:not(:last-child) {
    margin-bottom: 15px;
}

#group-form .add_endpoint .add_content_wrapper {
    background: #EEEEEE;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    text-align: center;
}

#group-form .add_endpoint .add_endpoint_title {
    color: #eeeeee;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

#group-form .add_endpoint .add_endpoint_div {
    margin-top: 10px;
}

#group-form .add_endpoint .add_endpoint_div a {
    color: #333333;
}

#group-form .add_endpoint .add_endpoint_div:hover a {
    color: #05addc;
}

#group-form .add_endpoint .add_endpoint_div:hover .add_endpoint_icon {
    background-position: 0 -24px;
    cursor: pointer;
}

#group-form .add_endpoint .add_endpoint_div .add_endpoint_icon {
    background-image: url("../../../core/layout/images/plus_btn.png");
    background-position: 0 0;
    display: inline-block;
    height: 25px;
    margin-top: -4px;
    vertical-align: middle;
    width: 25px;
}
