#settings-view .fields {
    margin-top: 60px;
}

#settings-view .field {
    text-align:center;
    height: 40px;
    line-height: 40px;
}

#settings-view .field-label {
    display: inline-block;
    vertical-align: middle;
}

#settings-view .field-label label {
    width: 200px;
}

#settings-view .field-input {
    display: inline-block;
    min-width: 230px;
    text-align: left;
    vertical-align: middle;
    margin-left: 10px;
}

#settings-view .buttons {
    margin-top: 20px;
    text-align: center;
}
