<div>
    <form name="form">
        <div class="list_fields">
            <div class="row_welcome_field">
                <label>${_t('login')}</label>
                <input type="text" name="login" id="login" value="${username}"/>
            </div>
            <div class="row_welcome_field">
                <label>${_t('password')}</label>
                <input type="password" name="password" id="password" />
            </div>
            {{if request_account_name}}
                 <div class="row_welcome_field">
                    <label>${_t('account_name')}</label>
                    <input type="text" name="account_name" id="account_name" value="${account_name}"/>
                </div>
            {{/if}}
            <div class="login_div">
                {{if remember_me}}
                    <input type="checkbox" id="remember_me" CHECKED="CHECKED"/>
                {{else}}
                    <input type="checkbox" id="remember_me"/>
                {{/if}}
                ${_t('remember_me')}&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="javascript:void(0);" class="recover_password">${_t('forgot_your_password')}</a>
                <button class="btn primary login">${_t('log_in')}</button>
                <div class="clear"/>
            </div>
            <div class="clear"/>
        </div>
        {{if !register_btn}}
        <div class="register_div">
            <div class="left_part">
                <span class="new_user_text">${_t('are_you_a_new_user')}</span>
                <button class="register"></button>
            </div>
            <div class="free_text">
                <div>${_t('easy_to_start')}</div>
                <div>${_t('free_demo_account')}</div>
                <div>${_t('make_calls_in_minutes')}</div>
            </div>
            <div class="clear"/>
        </div>
        {{/if}}
    </form>
</div>
