<div>
    <div class="manage_credits trunkstore_popup">
        <div>
            <form id="credits_form" name="credits">
                <ul class="settings_tabs settings1">
                    <li id="per_minute_link" class="current"><a href="javascript:void(0);">${_t('per_minute_calling')}</a></li>
                    <li id="flat_rate_link"><a href="javascript:void(0);">${_t('flat_rate_calling')}</a></li>
                </ul>

                <div class="clear"></div>

                <div class="panes">
                    <div id="per_minute" class="pane_content">
                        <span>${_t('pay_per_minute_allows_you')}</span>
                        <div class="current_balance_wrapper">
                            <span class="icon price_tag"/>  ${_t('your_current_balance')} <span class="price_wrapper">$<span class="current_balance">${credits.toFixed(2)}</span></span>
                        </div>
                        <div class="add_credits_wrapper">
                            ${_t('i_would_like_to_add')} $<input id="add_credits" type="text" size="4"/> ${_t('to_my_current_balance')}
                            <button class="btn primary purchase_credits">${_t('purchase')}</button>
                        </div>
                    </div>

                    <div class="pane_content" id="flat_rate" style="display: none;">
                        <div class="description">${_t('flat_rate_calling_allows_you')}</div>

                        <div class="trunk_block">
                            <h2><span class="icon right_arrow"/>  ${_t('flat_rate_outbound_calling')}</h2>
                            <div class="trunk_line">
                                <div class="left">${_t('allow_up_to')}
                                    {{if limits.twoway_trunks != -1}}
                                    <input type="text" id="outbound_calls" size="2" value="${limits.twoway_trunks}"/>
                                    {{else}}
                                    <span class="infinity_icon"></span>
                                    {{/if}}
                                </div>
                                <div class="right">${_t('simultaneous_outbound_calls')} <div class="price">${extra.twoway_trunks_price}/${_t('month_per_line')}</div></div>
                                <div class="clear"/>
                            </div>
                        </div>

                        <div class="trunk_block">
                            <h2><span class="icon left_arrow"/>  ${_t('flat_rate_inbound_calling')}</h2>
                            <div class="trunk_line">
                                <div class="left">${_t('allow_up_to')}
                                    {{if limits.inbound_trunks != -1}}
                                    <input type="text" id="inbound_calls" size="2" value="${limits.inbound_trunks}"/>
                                    {{else}}
                                    <span class="infinity_icon"></span>
                                    {{/if}}
                                </div>
                                <div class="right">${_t('simultaneous_inbound_calls_at')} <div class="price">${extra.inbound_trunks_price}/${_t('month_per_line')}</div></div>
                                <div class="clear"/>
                            </div>
                        </div>

                        <div class="fancy_help border">
                            <div class="wrapper_icon"><span class="note_icon"/></div>
                            <div class="help_text">${_t('if_you_dont_want_flat_rate')}</div>
                        </div>

                        <div class="buttons_centered">
                            <button class="btn primary submit_channels">${_t('save')}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

