/* Add your custom CSS here */

/* If you are building a widget that could be used by EVERYONE, please consider adding your CSS
 * to the global CSS stylesheet (talk to Dhruvi). Otherwise, add it here only */

/* DO NOT USE IDs FOR CSS! CLASSES ONLY! */

.list-skeleton {
    cursor: pointer;
}